.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh; /* This sets the container to take the full viewport height. Adjust as needed. */
    font-size: 400px;
}
  
.larger-text {
    font-size: 35px;
    margin-top: -29%;
    color: white;
    white-space: nowrap;  
    overflow: hidden;
    position: relative; 
    animation: moveRightToLeft 10s linear infinite; 
  }
  
  @keyframes moveRightToLeft {
    0% {
      left: 100%; 
       box-shadow: 0 0 20px yellow; 
    }
    100% {
      left: -100%; 
       box-shadow: 0 0 30px yellow; 
    }
  }


  
 
  .card-container{
    display: flex;
    gap:10px;
  }
