<app-navbar></app-navbar> 
<div class="container" style="text-align: center;">
    <div class="image-box">
        <img  src="/assets/image/abc.jpg"  alt="image is not visible" >
    </div>
</div>
<div class="container">
  <div class="row">
      <div class="col-md-22">
          <div class="content-box">
              <p>The purpose of a library management system is to operate a library with efficiency and at reduced costs. The system being entirely automated streamlines all the tasks involved in operations of the library. The activities of book purchasing, cataloging, indexing, circulation recording and stock checking are done by the software. Such software eliminates the need for repetitive manual work and minimizes the chances of errors.

                The library management system software helps in reducing operational costs. Managing a library manually is labor intensive and an immense amount of paperwork is involved. An automated system reduces the need for manpower and stationery. This leads to lower operational costs.
                
                The system saves time for both the user and the librarian. With just a click the user can search for the books available in the library. The librarian can answer queries with ease regarding the availability of books. Adding, removing or editing the database is a simple process. Adding new members or cancelling existing memberships can be done with ease.
                
                Stock checking and verification of books in the library can be done within a few hours. The automated system saves a considerable amount of time as opposed to the manual system.
                
                The library management system software makes the library a smart one by organizing the books systematically by author, title and subject. This enables users to search for books quickly and effortlessly.
                
                Students need access to authentic information.Library management systems are designed to manage the movement of books and maintain records of the members in a library. The software solution is designed based on the system requirements, the people involved, the content of the operation and the activity to be performed.

                The system requirement in library management focuses on the possibility of search for books by title, author or subject by the member. They should be able to locate a book physically by the unique identification code and the rack number for each book.
                The system should provide details on the books held by the members. The system should limit the number of books that can be taken and the number of days that a book can be kept for. The system should generate fines when due from the member.
                The next step focuses on the functions of the librarian, the member and the system. Managing books by the librarian, searching for books by the members and notifications sent by the system are detailed in a case diagram.
                
                The third step in the design of the library management system software is based on the different aspects of a library. The name of the library, the book details, member details, membership cards, book reservations, book lending, cataloging, fines, book racks and notifications are consolidated as a class diagram.
                
                The next step further breaks down the functions into specific activities that are performed in a library. An activity diagram based on the primary activities – checking out a book, returning a book and renewing a book – is drawn.
                
                The final stage is coding for each activity in the case, class and activity diagrams. This is the most important function in the design of the library management system software.
                
                Library management system gitHub, the software created using Python, stores data on a log file. The software systems are developed on this platform. An advanced organized library is an integral part of any educational institution. In this digital age a web based library management system would be ideal for students who can access the library’s database on their smartphones.</p>
          </div>
      </div>
  </div>
</div>