<div class="container p-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body mb-3">
                    <h2 class="fs-3 text-center">Book Request</h2>
                   <form >
                        <div class="form-group">
                            <label class="form-lable">Id</label>
                            <input type="text" name="name"class="form-control" >
                            </div>
                        <div class="form-group">
                            <label class="form-lable">Book category</label>
                            <input type="text" name="dob" class="form-control" >
                        </div>
                        <div class="form-group">
                            <label class="form-lable">From date</label>
                            <input type="date" name="address" class="form-control" >
                        </div>
                         <div class="form-group">
                            <label class="form-lable">To date</label>
                            <input type="date" name="qualification" class="form-control" >
                        </div>   
                       <button type="submit" class="btn btn-primary col-md-12">Submit</button>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>    
