<mat-toolbar color="primary">
  <button mat-button routerLink="/">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    Home
  </button>
    <button mat-button routerLink="/about">About</button>
    <button mat-button routerLink="/contact">Contact</button>
    <button mat-button routerLink="/categories">All Categories</button>
    <button mat-button routerLink="/emp-all-book">All book</button>
    <button mat-button routerLink="/feedback">FeedBack</button>
    <button mat-button routerLink="/register">Register</button>
    <span class="example-spacer"></span> <!-- Create space between items -->
    <!-- <button mat-button mat-button routerLink="/emp-dashboard">Emp_dash</button>
     <button mat-button mat-button routerLink="/admin">Admin_dash</button>  -->
     <button mat-button routerLink="/login" >Log In</button> 
  </mat-toolbar>