
<div class="issued-book-container">
  <mat-card-header><mat-card-title class="hi"><h1>All Issued Book Report</h1></mat-card-title></mat-card-header>
  <mat-card-actions class="action">
    <button mat-flat-button color="accent"  (click)="issueNewBook()">Issue New Book</button>
  </mat-card-actions>
  <div class="table-conatiner">
    <table>
      <thead>
        <tr>
          <th>S.no</th>
          <th>Employee Id</th>
          <th>Book Id</th>
          <th>From Date</th>
          <th>To Date</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let r of issuedBook">
         <td>{{r.userBookId}}</td>
         <td>{{r.userId}}</td>
         <td>{{r.bookId}}</td>
         <td>{{r.borrowingDate | date: 'dd/MM/yyyy'}}</td>
         <td>{{r.dueDate | date: 'dd/MM/yyyy' }}</td>
         <td><mat-icon class="white-icon" (click)="delete(r.userBookId)">delete</mat-icon></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

