<app-navbar></app-navbar>
<div class="container">
      <h1>All Categories</h1>
    </div>
<hr>


<div class="card-container">
  <div class="card square-card">
    <div class="card-body">
      <h5 class="card-title">SQL</h5>
      <p class="card-text">
        SQL (Structured Query Language) is a domain-specific language used for managing and querying relational
        databases.
      </p>
      <a href="#" class="btn btn-primary">Learn More</a>
    </div>
  </div>
  <div class="card square-card">
    <div class="card-body">
      <h5 class="card-title">Religion</h5>
      <p class="card-text"> Delve into the complexities of faith, belief, and culture across civilizations in this
        illuminating exploration of religion's profound impact on humanity.</p>
      <a href="#" class="btn btn-primary">Learn More</a>
    </div>
  </div>

  <div class="card square-card">
    <div class="card-body">
      <h5 class="card-title">Java</h5>
      <p class="card-text"> Master Java programming with clear explanations and hands-on examples in this essential
        guide for beginners and experts alike</p>
      <a href="#" class="btn btn-primary">Learn More</a>
    </div>
  </div>

  <div class="card square-card">
    <div class="card-body">
      <h5 class="card-title">Maths</h5>
      <p class="card-text"> Mathematics is the study of patterns, structure, quantity, and change. Embark on an exciting
        journey into the world of numbers, equations, and patterns.</p>
      <a href="#" class="btn btn-primary">Learn More</a>
    </div>
  </div>

  <div class="card square-card">
    <div class="card-body">
      <h5 class="card-title">History</h5>
      <p class="card-text"> Explore the rich tapestry of human stories woven through time in this captivating and
        enlightening history book </p>
      <a href="#" class="btn btn-primary">Learn More</a>
    </div>
  </div>
  <div class="card square-card">
    <div class="card-body">
      <h5 class="card-title">Science</h5>
      <p class="card-text"> Delve into the wonders of the natural world, uncovering scientific marvels and discoveries
        that shape our understanding in this compelling science book </p>
      <a href="#" class="btn btn-primary">Learn More</a>
    </div>
  </div>
  <div class="card square-card">
    <div class="card-body">
      <h5 class="card-title">Fiction</h5>
      <p class="card-text"> Journey into imaginative worlds and explore the depths of human experience through
        captivating storytelling in this compelling fiction collection.</p>
      <a href="#" class="btn btn-primary">Learn More</a>
    </div>
  </div>
  <div class="card square-card">
    <div class="card-body">
      <h5 class="card-title">Non-Fiction</h5>
      <p class="card-text"> Dive into real-life stories, informative essays, and practical insights in this diverse
        collection of non-fictional works.</p>
      <a href="#" class="btn btn-primary">Learn More</a>
    </div>
  </div>
</div>

<div class="card-container">
  <div class="card square-card">
    <div class="card-body">
      <h5 class="card-title">Architecture</h5>
      <p class="card-text"> Architecture is the art and science of designing and building structures, including
        buildings, bridges, monuments, and other physical structures.</p>
      <a href="#" class="btn btn-primary">Learn More</a>
    </div>
  </div>
  <div class="card square-card">
    <div class="card-body">
      <h5 class="card-title">Culture</h5>
      <p class="card-text"> Dive into the diverse tapestry of human culture, exploring its richness, traditions, and the
        fascinating stories that shape our world</p>
      <a href="#" class="btn btn-primary">Learn More</a>
    </div>
  </div>

  <div class="card square-card">
    <div class="card-body">
      <h5 class="card-title">Engineering</h5>
      <p class="card-text"> "Unlock the world of engineering with comprehensive insights and practical applications in
        this groundbreaking book."
      </p>
      <a href="#" class="btn btn-primary">Learn More</a>
    </div>
  </div>

  <div class="card square-card">
    <div class="card-body">
      <h5 class="card-title">Technical</h5>
      <p class="card-text"> Dive into cutting-edge technical knowledge and master essential concepts in this concise,
        comprehensive book.</p>
      <a href="#" class="btn btn-primary">Learn More</a>
    </div>
  </div>

  <div class="card square-card">
    <div class="card-body">
      <h5 class="card-title">Non-Technical</h5>
      <p class="card-text">Discover captivating stories and insightful narratives in this collection catering to diverse interests beyond technical subjects.</p>
      <a href="#" class="btn btn-primary">Learn More</a>
    </div>
  </div>
  <div class="card square-card">
    <div class="card-body">
      <h5 class="card-title">Culture Display</h5>
      <p class="card-text"> Explore diverse cultures and traditions through captivating visuals and insightful
        narratives in this illuminating display book</p>
      <a href="#" class="btn btn-primary">Learn More</a>
    </div>
  </div>
  <div class="card square-card">
    <div class="card-body">
      <h5 class="card-title">Reference</h5>
      <p class="card-text"> Your go-to source for comprehensive and reliable information across a wide array of subjects
        and disciplines</p>
      <a href="#" class="btn btn-primary">Learn More</a>
    </div>
  </div>
  <div class="card square-card">
    <div class="card-body">
      <h5 class="card-title">Arts</h5>
      <p class="card-text"> Discover the world of art through vivid descriptions and insightful analysis in this
        captivating and comprehensive book on artistic expression.</p>
      <a href="#" class="btn btn-primary">Learn More</a>
    </div>
  </div>


</div>
<div class="card-container">
  <div class="card square-card">
    <div class="card-body">
      <h5 class="card-title">Social Sciences</h5>
      <p class="card-text">
        Delve into societal complexities and human behavior with diverse perspectives in this insightful social sciences
        exploration.
      </p>
      <a href="#" class="btn btn-primary">Learn More</a>
    </div>
  </div>
  <div class="card square-card">
    <div class="card-body">
      <h5 class="card-title">Children's Books</h5>
      <p class="card-text"> Spark imagination and learning with enchanting tales and vibrant adventures tailored for
        young minds in this delightful collection of children's books.</p>
      <a href="#" class="btn btn-primary">Learn More</a>
    </div>
  </div>

  <div class="card square-card">
    <div class="card-body">
      <h5 class="card-title">Education</h5>
      <p class="card-text"> Empower learning with innovative strategies and insights in this comprehensive guidebook
        tailored for educators and lifelong learners</p>
      <a href="#" class="btn btn-primary">Learn More</a>
    </div>
  </div>

  <div class="card square-card">
    <div class="card-body">
      <h5 class="card-title">Health & Wellness</h5>
      <p class="card-text"> Discover a path to vitality and well-being with practical insights and actionable advice in
        this holistic health and wellness guide.</p>
      <a href="#" class="btn btn-primary">Learn More</a>
    </div>
  </div>

  <div class="card square-card">
    <div class="card-body">
      <h5 class="card-title">Business & Finance</h5>
      <p class="card-text"> Navigate the world of money, strategy, and success with actionable insights and proven
        tactics in this comprehensive guide to business and finance.</p>
      <a href="#" class="btn btn-primary">Learn More</a>
    </div>
  </div>
  <div class="card square-card">
    <div class="card-body">
      <h5 class="card-title">Travel</h5>
      <p class="card-text"> Embark on unforgettable journeys, discover hidden treasures, and plan your next adventure
        with this captivating travel guide </p>
      <a href="#" class="btn btn-primary">Learn More</a>
    </div>
  </div>
  <div class="card square-card">
    <div class="card-body">
      <h5 class="card-title">Sci-Fi</h5>
      <p class="card-text"> Embark on thrilling adventures beyond the realm of possibility with futuristic worlds,
        technology, and mind-bending concepts in this captivating sci-fi masterpiece.</p>
      <a href="#" class="btn btn-primary">Learn More</a>
    </div>
  </div>
  <div class="card square-card">
    <div class="card-body">
      <h5 class="card-title">Fantasy</h5>
      <p class="card-text"> Embark on a spellbinding journey through realms unknown, where magic and adventure
        intertwine in this captivating fantasy novel.</p>
      <a href="#" class="btn btn-primary">Learn More</a>
    </div>
  </div>
</div>