.container{
  margin: 11px 0px 0px 10px;
  text-align: center;
  width:100%;
}

.h1{
font-size: 40px;

}

.square-card {
    width: 12.5%; 
    height: 260px; 
    background-color: #A79A6C;
  
  }
  
 
  

.card-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: stretch;
  padding: 10px;
  font-size: 15px;
}

/* Styles for each card */
.card {
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  /*position: relative; /* Positioning for the button */
}

/* Styles for the card body */
.card-body {
  padding: 10px;
}

/* Styles for card titles */
.card-title {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.card-text {
  font-size: 0.8em;
  color: #333;
}

.btn.btn-primary {
  position: absolute; /* Position the button at the bottom */
  bottom: 0;
  width: calc(100% - 40px); /* Adjust width considering padding */
  text-align: center;

  background-color: transparent;
  color: #007bff;
  text-decoration: none;
  border: 2px solid #007bff; /* Add border */
  border-radius: 0 0 5px 5px; /* Round bottom corners */
  margin-bottom: 4px;
  height: 25px;
}

.btn.btn-primary:hover {
  background-color: #007bff;
  color: white;
}
