
<div class="user-container">
         <div class="header"><h1>Update User Details</h1></div>

         <div class="form">
            <form>
                <div class="form-group">
                    <label for="inputAddress">Id</label>
                    <input type="number" class="form-control" id="inputAddress" placeholder="Enter id">
                  </div>
                  <div class="form-group">
                    <label for="inputAddress2">First Name</label>
                    <input type="text" class="form-control" id="inputAddress2" placeholder="Enter first name">
                  </div>
                <div class="form-group">
                  <label for="inputAddress">Last Name</label>
                  <input type="text" class="form-control" id="inputAddress" placeholder="Enter last name">
                </div>
                <div class="form-group">
                  <label for="inputAddress2">Password</label>
                  <input type="password" class="form-control" id="inputAddress2" placeholder="enter password">
                </div>
                <div class="form-group">
                    <label for="inputAddress2">Register As</label>
                    <input type="text" class="form-control" id="inputAddress2" placeholder="register as">
                  </div>
               
            <div class="update-button">
                <button type="submit" class="btn btn-primary">update</button>
            </div>
              </form>
        
        
         </div>
    
</div>




<!-- <div class="container"> 
  <div class="row"> 
      <div class="col-md-3"> 
  </div> 
      <div class="col-md-5" > 
          <div class="p-3 py-5"> 
              <div class="d-flex justify-content-between align-items-center mb-3"> 
                  <h1 class="text">Update User Details </h1> 
              </div> 
              <hr>
              <div class="row mt-2"> <div class="col-md-12">
                      <label class="labels">Id</label>
                      <input type="text" class="form-control" placeholder="first name" value="">
                  </div>
              </div> 
              <div class="row mt-3">
                  <div class="col-md-12">
                      <label class="labels">First Name</label>
                      <input type="text" class="form-control" placeholder="enter phone number" value="">
                  </div> 
                  <div class="col-md-12">
                      <label class="labels">Last Name</label>
                      <input type="text" class="form-control" placeholder="enter address" value="">
                  </div> 
                  <div class="col-md-12">
                      <label class="labels">Password</label>
                      <input type="text" class="form-control" placeholder="enter email id" value="">
                  </div> 
                  <div class="col-md-12">
                      <label class="labels">Register_as</label>
                      <input type="text" class="form-control" placeholder="enter email id" value="">
                </div>        
              </div> 
              <div class="mt-5 text-right">
                  <button class="btn btn-primary" type="button" style="background-color: green;">Submit</button>&nbsp;
                  <button class="btn btn-primary" type="button" style="background-color: red;">Reset</button>
              </div> 
          </div> 
      </div> 

  </div>
</div> -->

