.mat_card{
    margin-left: 15%;
    width: 70%;
}
.pl-md-5, .px-md-5
{
    padding-left: 10rem!important;
}


.container{
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 1%;
    width: 45%;
}
.head
{
   
    margin-top: 2%;
    font-family: 'Courier New', Courier, monospace;
}
