<app-navbar></app-navbar> 
<!-- login.component.html -->
<br />
<form  class="form-signin" [formGroup]="loginForm" (ngSubmit)="login()" >
    <div class="container px-1 px-md-5 px-lg-1 px-xl-5 mx-auto">
        <div class="card card0 border-0">
            <div class="row d-flex">
                <div class="col-lg-6">
                    <div class="card1 pb-2">
                        <div class="row">
                            <!-- Add content for the left column if needed -->
                        </div>
                        <div class="row px-3 justify-content-center mt-5 mb-5 border-line">
                            <img src="https://i.imgur.com/uNGdWHi.png" class="image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card2 card border-0 py-3">
                        <div class="row px-3 mb-3">
                            <h1 style="font-family: Georgia, 'Times New Roman', Times, serif;">
                                Sign in </h1>
                        </div>
                        <!-- Add any dynamic content bindings as needed -->
                        <div class="row px-3">
                            <label class="mb-1"><h6 class="mb-0 text-sm">User Id</h6></label>
                             <input   formControlName="userId" id="number" type="number" name="number" placeholder="Enter User ID" required/> 
                        </div>
                        <div class="row px-3">
                            <label class="mb-1"><h6 class="mb-0 text-sm">Password</h6></label>
                             <input  formControlName="password" id="password" type="password" name="password" placeholder="Enter password" required/>        
                            <small id="passwordHelpInline" class="text-muted">
                              Must be 8-20 characters long.
                            </small>
                        </div>
                        <br />
                        <div class="row mb-4">
                            <div class="custom-control custom-checkbox custom-control-inline col-md-4">
                                <input id="chk1" type="checkbox" name="chk" class="custom-control-input">
                                <label for="chk1" class="custom-control-label text-sm">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Remember me</label>
                                <div class="invalid-feedback">
                                    You must agree before submitting.
                                  </div>
                            </div>
                            <div class="text-center">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a  class="ml-auto mb-0 text-sm"  class="text-danger"[routerLink]="['/forgetpassword']">Forgot Password?</a>
                            </div>
                        </div>
                        <div class="row mb-3 px-3">
                            <button type="submit" class="btn btn-blue text-center" [disabled]="loginForm.invalid">Login</button>
                        </div>
                        <div class="row mb-4 px-3">
                            <small class="font-weight-bold">Don't have an account? <a class="text-danger" [routerLink]="['/register']">Register</a></small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-blue">
            </div>
        </div>
    </div>
</form>
