<div class="issue-book-container">
  <mat-card-header><mat-card-title class="hi"><h1>Issue Book</h1> </mat-card-title></mat-card-header>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Book Id</th>
          <th>Book Name</th>
          <th>Emp Name</th>
          <th>From date</th>
          <th>To date</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let r of tableData">
         <td>{{r.book_id}}</td>
         <td>{{r.book_name}}</td>
         <td>{{r.emp_name}}</td>
         <td>{{r.form}}</td>
         <td>{{r.to}}</td>
         <td><button style="background-color: green;" >Issue book</button>&nbsp;<button style="background-color: red;" >Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

 <!-- <mat-card class="mat_card">
    <mat-card-header><mat-card-title class="hi">Issue Book </mat-card-title></mat-card-header>
    <table>
         <thead>
           <tr>
             <th>Book Id</th>
             <th>Book Name</th>
             <th>Emp Name</th>
             <th>From date</th>
             <th>To date</th>
             <th>Action</th>
           </tr>
         </thead>

         <tbody>
           <tr *ngFor="let r of tableData">
            <td>{{r.book_id}}</td>
            <td>{{r.book_name}}</td>
            <td>{{r.emp_name}}</td>
            <td>{{r.form}}</td>
            <td>{{r.to}}</td>
            <td><button style="background-color: green;" >Issue book</button>&nbsp;<button style="background-color: red;" >Delete</button></td>
           </tr>
         </tbody>
       </table>
 
 </mat-card>
 
    -->